<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="reactivemongo" level="INFO"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
    <root level="WARN">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>

