<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>


    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>

    <root level="WARN">
        <!--<appender-ref ref="ASYNCFILE" />-->
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>

